{% extends 'base.html.twig' %}

{% block content %}
<section class="phpdocumentor-section">

<a href="https://github.com/BcommeBois/oihana-php-system" class="phpdocumentor-title__link">
    <img src="assets/images/oihana-php-system-logo-inline-512x160.png" alt="Oihana PHP Files" style="width: 256px; height: 80px;"/>
</a>

</br>

<h3>🔗 Project on GitHub</h3>
<p>View the full source code and contribute on GitHub:</p>
<p>
    <a href="https://github.com/BcommeBois/oihana-php-system" target="_blank">
        https://github.com/BcommeBois/oihana-php-system
    </a>
</p>

<h3>📦 Installation</h3>
<p>This library requires <a href="https://php.net/releases/" target="_blank">PHP 8.4+</a> and is installed via <a href="https://getcomposer.org/" target="_blank">Composer</a>:</p>
<pre class="language-bash prettyprint">composer require oihana/php-system</pre>

<h3>✅ Running Unit Tests</h3>
<p>Run all unit tests:</p>
<pre class="language-bash prettyprint">composer run-script test</pre>

<p>Run a specific test:</p>
<pre class="language-bash prettyprint">composer run test ./tests/oihana/data/TimeIntervalTest</pre>

<h3>📄 License</h3>
<p>This project is licensed under the <strong><a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">Mozilla Public License 2.0 (MPL-2.0)</a></strong>.</p>

<h3>👤 About the Author</h3>
<ul>
    <li><strong>Name:</strong> Marc ALCARAZ (aka <em>eKameleon</em>)</li>
    <li><strong>Website:</strong> <a href="https://www.ooop.fr" target="_blank">www.ooop.fr</a></li>
    <li><strong>Email:</strong> <a href="mailto:marc@ooop.fr">marc@ooop.fr</a></li>
</ul>

{% set node = project.namespace %}

{{
    include
    (
        'components/table-of-contents.html.twig',
        {
            'node'       : project.namespace,
            'namespaces' : usesNamespaces or not usesPackages ? node.children : [] ,
            'packages'   : usesPackages ? project.package.children : []
        }
    )
}}

{{ include('components/constants.html.twig', {'node': project.namespace}) }}
{{ include('components/functions.html.twig', {'node': project.namespace}) }}

</section>
{% endblock %}